@import "../../../variables.scss";

.bg-gradient {
    width: 100%;
    height: 100vh;

    background: linear-gradient(156deg, $color-background-gradient-1, $color-background-gradient-2);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}