@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400;500&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62%;
  font-family: 'Kiwi Maru', sans-serif;
}

body {
  box-sizing: border-box;
}
