$color-primary: #336fcf;
$color-primary-light: #4fb0c6;

$color-background: #FFE1C6;
$color-background-light: #f3eae1;
$color-background-dark: #2D2D2A;
$color-background-offwhite: #c3bab2;
$color-background-gradient-1: #fff8bd;
$color-background-gradient-2: #FFE1C6;
$color-background-input: #d6cdc5;

$color-text-primary: #1a1a1a;
$color-text-light: #f3f3f3;
$color-text-light-faded: #dbdbdb;

$border-radius-normal: 0.3rem;