$color-primary: #4f86c6;
$color-primary-light: #4fb0c6;

$color-background: #efefef;
$color-background-gradient-1: #fff8bd;
$color-background-gradient-2: #FFE1C6;
$color-background-input: #dfdfdf;

$color-text-primary: #1a1a1a;
$color-text-secondary: #efefef;

$border-radius-normal: 0.3rem;